<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.bili.linsixu.bitmaprecycler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".chain.app.MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".chain.activity.MainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout">
        </activity>

    </application>

</manifest>